/* Error: Expected identifier.
 *    ,
 * 21 |   @media (hover: none),
 *    |                        ^
 *    '
 *   assets\src\style\_base.sass 21:24  @use
 *   assets\src\style\main.sass 2:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 21 \2502    @media (hover: none),\d\a    \2502                         ^\a    \2575 \a   assets\\src\\style\\_base.sass 21:24  @use\a   assets\\src\\style\\main.sass 2:1     root stylesheet";
}
